.main-navbar{
  padding-left: 15%;
}
.social-links-warp{
padding-left: 48%;
}
#logochange{
  margin-top: 8px;
  margin-right: 10px;
}
h4{
  font-style: oblique;
}
.user-panel{
  padding-top:10px;
}
.submenu ul li:hover>ul {
  display: inherit;
  transition: all .3s ease;
}
